@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font2);
}

html, body{
    height: 100%;
}

:root{
    --font1: 'Lora', serif;
    --font2: 'Open Sans', sans-serif;
    --mcolor:#0ABDE3;
    --scolor:#338FA3;
    --mbecolor:#3F3F3F;
}

div.page{
    max-width: 72rem;
    margin: 0 auto;
    background-color: #e5e5e521;
    box-shadow: 0px .25rem .25rem rgba(0, 0, 0, 0.25);
}

header .hamburguer{
    /*background-color: tomato;*/
    
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 9999;
    right: 2rem;
    top: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    
}

.show-menu .hamburguer{
    left: 3rem;
    animation: surge 4s;
}

@keyframes surge{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

header .hamburguer .line{
    width: 100%;
    background-color: #fff;
    box-shadow: .1rem .1rem 1px #000;
    height: .1rem;
    transition: .7s ease-in-out;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.2rem, 0.06rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.56rem, -0.56rem);
}

header .hamburguer span{
    font-family: var(--font-action);
    color: #fff;
    position: absolute;
    left: 3rem;
    top: -.2rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mcolor);
    opacity: 0;
}

header .hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid var(--mcolor);
    border-left: .5rem solid transparent;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

header a.logo > h3{
    color:black;
    font-weight: 400;
    font-size: 1.87rem;
}

header.show-menu nav.mobile{
    display: block;
    border-radius: 1rem;
    border: none;
    box-shadow: .1rem .2rem .2rem var(--mbecolor);
    background: linear-gradient(to top, rgba(32, 32, 32, 0.9), rgba(39, 39, 39, 0.9));
    position: fixed;
    top: 0rem;
    right: 0rem;
    width: 92vw;
    height: 20vh;
    animation: surge 2s;
    z-index: 999;
}

header nav ul{
    display: flex;
    align-items: center;
}

header nav.mobile ul{
    margin-top: 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}

header nav li{
    list-style-type: none;
}

header nav li a{
    color: black;
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 1rem;
}

header nav.mobile li a{
    font-size: 1.6rem;
    color: var(--mcolor);
}

header nav li a:hover{
    text-decoration: underline;
}

header nav ul li:nth-child(1){
    font-weight: bold;
}

header nav.mobile{
    display: none;
}

section.bg{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../images/bgx.png');
    background-position: center;
    color: white;
    padding: .2rem 1rem;
}

section.bg h1{
    font-size: 3.5rem;
    color: var(--mcolor);
    font-weight: 300;
}

section.bg p{
    font: var(--font1);
    font-weight: lighter;
    font-size: 1.2rem;
    max-width: 80rem;
    max-height: 12.5rem;
    margin: 0rem 5rem;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    width: 12rem;
    height: 2.5rem;
    background-color: var(--mcolor);
    opacity: 1;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:hover{
    opacity: .9;
}

.btn > a{
    font-size: 1.6rem;
    font-weight: 500;
    color: #FFF;
}

section.ux h2{
    padding: 2rem 0;
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    color: var(--mcolor);
}

div.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 19rem;
    min-height: 19rem;
    margin: 3rem 2rem;
    text-align: center;
}

section.ux .cards i{
    color: black;
    width: 3.1rem;
    height: 3.1rem;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

section.ux .cards p{
    font: var(--font1);
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.65rem;
}

section.about{
    width: 100%;
    height: 20rem;
    background-color: #E1E6EF;
}

section.about .wrapper{
    justify-content: space-around;
}

section.about .team{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
}

section.about h3{
    color: var(--mcolor);
    padding: .6rem 0;
    text-align: left;
    font-weight: 300;
    font-size: 2rem;
}

section.about .person{
    display: flex;
    align-items: center;
}

section.about .person .photo{
    width: 3.7rem;
    height: 3.7rem;
    background-color: var(--mbecolor);
    border-radius: 50%;
    margin-right: 1rem;
}

section.about .person span{
    max-width: 13.65rem;
}

section.about .person h4{
    font-style: italic;
}

section.about .person p{
    font: var(--font1);
    font-weight: lighter;
}

section.about .history{
    max-width: 34rem;
}

section.about .history p{
    font: var(--font1);
    font-weight: lighter;
    font-size: 1.08rem;
    padding-bottom: 1rem;
}

section.about div.mini_form{
    width: 100%;
}


@media (max-width: 1024px){
    section.bg p{
        font-size: 1rem;
        padding: 0 8%;
    }

    section.ux div.wrapper{
        flex-wrap: wrap;
        padding: 0 20%;
    }
}

@media (max-width: 800px){
    section.bg{
        padding: 0;
    }

    section.bg h1{
        font-size: 2.8rem;
    }

    section.bg p{
        font-size: 1rem;
        padding: 0;
        min-width: 25rem;

    }
    
    section.bg .btn{
        transform: scale(.9);
    }

    section.ux h2{
        font-size: 2.2rem;
    }


    .cards{
        margin: 2rem auto;
    }

    section.about .history{
        display: none;
    }
}

@media (max-width: 550px){
    header .hamburguer{
        display: flex;
    }

    nav.desktop{
        display: none;
    }

    section.bg{

    }

    section.bg h1{
        font-size: 2.2rem;
    }

    section.bg p{
        font-size: .9rem;
        padding: 0;
    }
    
    section.bg .btn{
        transform: scale(.9);
    }

    section.ux h2{
        font-size: 1.8rem;
    }
}